/*!	CSS von christian@bienmueller.de 
	Gibt das Design von tabula.info vor
	Dieses CSS darf gerne zu beliebigem Zweck uebernommen werden
	
	ti.less ist die Quelldatei, welche zur ti.css compiliert wird 
	(siehe dazu http://www.lesscss.org)
	
*/
/**********************************
 *   gesammelte Farbdefinitionen: 
 *  Müssen vorher geladen sein
 *  diese Datei wird also nachgeladen
 **********************************/

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/static/ubuntu400.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/static/ubuntu700.woff) format('woff');
}

body, table {
	font-family: 'Ubuntu', 'liberation sans', arial, sans-serif;
	font-size:24px;
	margin:0.0em;
	padding:0em;
	overflow:hidden;
	color:@farbe_schrift;
	background-color:@farbe_hintergrund;
	border-color:@farbe_hintergrund; }
	
*[smaller|=true] {
	font-size:80%;
	}

*[bigger|=true], *[bigright|=true] {
	font-weight:bold;
	font-family: 'Dejavu Sans';
	}
	
*[bigright|=true] {
	text-align:right;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin: 0px 0px 0px 0px;
	}

	
h1 {
	font-weight: bold;
	font-size:130%;
}

h2, li {		font-size:120%;	}
h3 {			font-size:115%;	}
h4 {			font-size:110%;	}
h5, h6 {		font-size:90%;	font-style: italic; }

p,li,td,code {	font-weight: normal;
				font-size:100%;
				margin: 0px 0px 0px 0px;
				padding: 1px;
				margin-left:1em;
				text-align:left; }

table, td {		border-style: solid; }
table {			border-width: 1px;	width:100%;}


td {			border-left-width: 0px;
				border-top-width: 0px;
				border-right-width: 1px;
				border-bottom-width: 1px; }

p	{			text-align:justify; }

.indent {		margin-left:2cm; }

/* Aussehen von Content */

/* different table design in special div classes  */
.content * ,#branding *, .hiprio *, .loprio * , .dayless *, .dauer *, .erased *, .messages table, .messages td, .upload td, .upload table {
				border-width:0px;
				text-align:left;
}
.content * , .hiprio *, .loprio * , .erased *, .messages table, .messages td, .upload, .upload td, .upload li, .upload p { /*, .upload **/
				background:@farbe_box_bg;
}

.persons, .messages, .weekmessages, .infos, .login {
				padding:0.5em;
				margin: 0px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				border-radius: 12px;	}


a, a:link, a:visited, a:hover, a:active, a:focus  { text-decoration:none; color:@farbe_extra; }
 

/*Tabellenränder*/
table, td {		border-color:@farbe_extra; }

/* H I N T E R G R Ü N D E */

/* Hintergrund Boxen mit Rändern */
p,li,td,code, .person, .erased {
				background-color:@farbe_vordergrund;	}
.gelb td {		background-color: #FFFFAA; }
.ph0 * {		background-color: (@farbe_turbo_bg+     @farbe_turbodelta); }
.ph1 * {		background-color: (@farbe_turbo_bg*0.94+@farbe_turbodelta); }
.ph2 * {		background-color: (@farbe_turbo_bg*0.88+@farbe_turbodelta); }
.phn * {		background-color: (@farbe_turbo_bg*0.82+@farbe_turbodelta); }

.content , .hiprio, .loprio , .content *, .hiprio * , .loprio *, .dayless * , .dauer * {
				background-color:@farbe_box_bg;	
				border-color:	 @farbe_box_bg;
				color:			 @farbe_schrift;}

.login {		background-color:(@farbe_hiprio*0.3+@farbe_vordergrund*0.7); 
				color:@farbe_schrift; }

/* Für Management */
.content a, .hiprio a, .loprio a, .erased a, .person a, .dayless * , .dauer *  {
				background-color:@farbe_box_bg;	border-color:@farbe_box_bg;
				color:@farbe_extra;	}

.content a:hover, .hiprio a:hover, .loprio a:hover, .erased a:hover, .person a:hover {
				background-color:@farbe_management_hover_bg;	border-color:@farbe_box_bg;
				color:@farbe_schrift; }

/* S C H R I F T E N */

/* Schriftfarbe Headlines */
h1, h2, h3, #adleft {
	color:@farbe_extra;
}

h3, .firstcontent,  .firstcontent table , .firstcontent td {
	background-color: @farbe_boxtitel_bg;border-color: @farbe_extra;
}
.Uhr, .firstcontent table , .firstcontent td {
	background-color: @farbe_boxtitel_bg;border-color: @farbe_boxtitel_bg;}

.hiprio, .hiprio *, .s_t_fresh {
	color:@farbe_hiprio;
}

.s_t_ausfall {
	color:@farbe_ausfall;
}
.s_t_gelb {
	background-color:#FFFF88;
}
.s_t_gruen {
	background-color:#88FF88;
}

.loprio, .loprio * {
	color:@farbe_loprio;
	font-size:100%;
}  
.dayless * {
    background-color:@farbe_dayless_bg;	border-color:@farbe_dayless_bg;
	color:@farbe_extra;
}  
.dayless p {
	margin:0em;
	padding-left:1em;
}
.dauer * {
    background-color:@farbe_dauer_bg;	border-color:@farbe_dauer_bg;
	color:@farbe_schrift;
	text-align:center;
	margin:0em;
}
.erased {
	color:#008000;
}  

.persons , .persons * {
	background-color:	@farbe_persons_bg;
	border-color: 		@farbe_persons_bg;
	font-weight:		bold;
}

.infos, .infos * {
	background-color:@farbe_infoseite;
	color: @farbe_hintergrund;
}
.messages {
	background-color:@farbe_box_bg;
}

.weekmessages, .weekmessages h4, .weekmessages p {
	background-color:@farbe_week_bg;
}

*[alt_person|=green] , *[alt_person|=blue] {
	color:@farbe_extra; 
	/*font-size:115%;*/
}
*[alt_person|=gelb] , *[alt_person|=red] {
	color:@farbe_hiprio; 
	/*font-size:130%;*/
	font-weight:bold;
}

*[alt_header|=true] {
	color:#000080; 
	font-style: italic; 
}

#rightbase, #leftbase, #baseline, #branding, #rightinfo {
    position: absolute;
    bottom: 0px; 
	overflow:hidden;
	z-index:-2; 
}
#rightbase .messages .content, #leftbase .messages .content, 
#rightbase .firstcontent, #leftbase .firstcontent, #rightbase #wochenmotto {
	overflow:hidden; /* Inhalt verbergen wenn er (was ja geplant ist) nicht mehr in das DIV passt*/
			animation: ausblenden 5s ease-out 18s; /* nach 18 Sekunden innerhalb 5 Sekunden ausblenden war: */
	-webkit-animation: ausblenden 5s ease-out 18s;
			
	        animation-timing-function:ease-out;
	-webkit-animation-timing-function:ease-out;
			animation-fill-mode: forwards; /* danach Stehenbleiben und nicht wieder in den Ausgangszustand zurückkehren */
	-webkit-animation-fill-mode: forwards;
}
@keyframes ausblenden {
      from { max-height:1000px;     } 
      to {  max-height:0;}
}
@-webkit-keyframes ausblenden {
      from { max-height:1000px;     } 
      to {  max-height:0;}
}
#rightbase .firstcontent,
#leftbase  .firstcontent {
	        animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

#rightbase .messages, #leftbase .messages {
	/* nach 30 Sekunden soll Transparenz abgeschlossen sein */
			animation: verblassen 2s linear 28s;
	-webkit-animation: verblassen 2s linear 28s;
	/* danach Stehenbleiben und nicht wieder in den Ausgangszustand zurückkehren */
			animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes verblassen {
      /*from { opacity:1; } */
      to {  opacity:0.4; 
			font-size:90%; 
			padding: 1px 40px 1px 40px;}
}
@-webkit-keyframes verblassen {
      /*from { opacity:1; } */
      to { 	opacity:0.4; 
			font-size:90%; 
			padding: 1px 40px 1px 40px;}
}

#rechtervorhang {
    position:absolute;          z-index:1; 
    border: 10px solid grey;    border-radius:25px;
    font-size:70%;              background-color:grey; 
    right:20px;                 top: 20px;       
    width: 44.8%; width: calc(~"50% - 60px") ;  
	overflow:hidden; /* Inhalt verbergen wenn er (was ja geplant ist) nicht mehr in das DIV passt*/
			animation: rvorhang 7s ease-out 33s; /* nach 33 Sekunden innerhalb 7 Sekunden ausblenden */
	-webkit-animation: rvorhang 7s ease-out 33s;
			
	        animation-timing-function:ease-out;
	-webkit-animation-timing-function:ease-out;
			animation-fill-mode: forwards; /* danach Stehenbleiben und nicht wieder in den Ausgangszustand zurückkehren */
	-webkit-animation-fill-mode: forwards;
}
@keyframes rvorhang {
      from { right:20px;     }       to {  right:-1000px;}
}
@-webkit-keyframes rvorhang {
      from { right:20px;     }       to {  right:-1000px;}
}

.hiprio, .hiprio *, *[alt_person|=gelb] , *[alt_person|=red], .s_t_fresh {
	color:@farbe_hiprio;
}


#branding {
	bottom: 300px;
	z-index:-3;
}
#branding , #branding * {
	color:@farbe_branding;
	background-color:@farbe_hintergrund;
	border-color:@farbe_hintergrund;
}


#rightbase, #leftbase {
	z-index:4;
	border-width:0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#rightbase, 			#baseline, #branding, #rightinfo	{	right:	0px; }
			#leftbase,	#baseline							{	left:	0px; }
#rightbase, #leftbase,			   #branding, #rightinfo	{	width: 49.8%; width: calc(~"50% - 3px") ; }

#wochenmotto, #wochenmotto h1 , #wochenmotto p  {    color:@farbe_motto_fg; background-color:@farbe_motto_bg; }

#wochenmotto h1 { text-align:center;}


#wirkung , #inhalt {
	position:	absolute;
	top: 0px;
	bottom: 0px; 
	margin: 0px;
	padding:0px; }
	
#wirkung	{ left: 0px;	width: 135px; height: 100%; }
	
#inhalt		{ left: 135px;	right: 0px; }

#main_navigation , #main_content, #main_navigation2 , #main_content2 {
	position: absolute;
    width: 100%;
    border: 0px;
	overflow:hidden;}

.main_navigation_selected, .main_navigation2_selected {
    color: @farbe_navi_select;
}
.main_navigation_hide, .main_navigation2_hide {
    color: @farbe_navi_hide;
}


#main_navigation	{	height: 32px; color:@farbe_extra; font-size: 25px;}
#main_content		{	top: 34px;	bottom: 0px;}

#main_navigation2	{	bottom: 0px; height: 32px; color:@farbe_extra; font-size: 25px;}
#main_content2		{	top: 0px;	bottom: 34px;}

#rightbase .messages , #leftbase .messages , #rightbase .messages .content *, #leftbase .messages .content *,
#rightbase .messages .hiprio *, #leftbase .messages .hiprio * {
	background-color:@farbe_base_bg;
}

/**#rightbase .c_header *, #leftbase .c_header * {*/
#rightbase .messages h3 , #leftbase .messages h3 {
	background-color:@farbe_extra;
	color:@farbe_vordergrund;
	text-align:center;
}  

#leftbase .firstcontent  , #rightbase .firstcontent, 
#leftbase .firstcontent *, #rightbase .firstcontent * {
	background:@farbe_hintergrund;
	border: 0;
	color:@farbe_extra;
	font-size:85%;
	font-weight:bold;
	text-align:center;
}

#column1_2 h3, #column2_2 h3 {
	width:80%;
}
 
 
.navi-div-links,  .navi-div-zeit { text-align:left;  font-weight:bold;}
.navi-div-rechts, .navi-div-cd	 { text-align:right; font-weight:bold;}
.navi-div-links  { float:left;  width: 19.8%; width: calc(~"20% - 3px") ; padding-left:3px;}
.navi-div-rechts { float:left;  width: 29.8%; width: calc(~"30% - 3px") ; padding-right:3px;}
.navi-div-zeit   { float:right; width: 39.8%; width: calc(~"40% - 3px") ; padding-left:3px;}
.navi-div-cd  	 { float:right; width: 9.8%; width: calc(~"10% - 3px") ; padding-right:3px;}

.s_h_iframe {
background:white; color:black; overflow:hidden; height:100%;width:100%; 
}

#column1_1, #column1_3, #column2_3, #column3_3, #column23_3, #column12_3, #column1_2, #column2_2   {
border: 0px;
height:100%; }

#solocontent #column1_2, #solocontent #column2_2 ,#solocontent #column1_1  {
    height:950px;  /*merkwürdig, dass das noetig ist*/

}

.zweispaltig {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#solocontent { heigth:100%;}

#column1_1 {
	/*position: absolute;*/
	width:100%;
    border: 0px;
    overflow:hidden;
}
@media all and (min-width: 700px) and (min-device-width: 700px) {
        /* Trennung in 3 gleiche Spalten */
        #column1_3, #column2_3, #column3_3, #column23_3, #column12_3  {
                /*position: absolute;*/
                width: 32.8%; width:  calc(~"33.3% - 2px") ;
                border: 0px;
                overflow:hidden;
          }

        #column1_3 td, #column2_3 td, #column3_3 td, #column23_3 td, #column12_3   {
                font-size:18px;
        }

        /* lies column 1 von 3*/
        #column1_3      {       left:  0px;  float:left; }

        #column2_3      {       left: 33.7%;  float:left;}

        #column3_3      {       right:  0px;  float:right;}

        #column23_3     {       right:  0px;    width: 65.7%; width:  calc(~"66.6% - 1px") ; float:right;}
		#column12_3     {       left:  0px;     width: 65.7%; width:  calc(~"66.6% - 1px") ; float:left; }

        /* Trennung in 2  Spalten 50:50 */
        #column1_2, #column2_2  {
                /* position: absolute; */
                
                width: 49.8%; width:  calc(~"50% - 2px") ;
                border: 0px;
                overflow:hidden;
              
        }

        /* lies column 1 von 2*/
        #column1_2      {       left:  0px; float:left;}

        #column2_2      {       right: 0px; float:right;}
}  
@media all and (max-width:699px) {
        #column1_3, #column2_3, #column3_3, #column23_3, #column1_2, #column2_2  {
                overflow:auto;
                margin-bottom: 10px;
        }
} /* Ende von media query <=699*/

/* content boxes 
 * - immer untereinander
 * - nur header ist nicht in voller Breite
 * - rounded ist mit abgerundeten Ecken und dazugehörigen Innenrändern
 */
.c_box, .c_header  {
        position: relative; 
        width: auto;
        margin: 0px 0px 1px 0px;
        border-style:solid; /* nur zur Fehlersuche*/
        border-color:#F06;  /* nur zur Fehlersuche*/
        border-width:0px;
        overflow:hidden;
        padding: 0em 0em 0em 0.2em;
        z-index: 3; 
}

.c_header {     width:80%; }

/* POPUPHELP */

popuphelp {
  position: relative;
  color: white;
  background-color: #228;
  border-radius: 0.8em; 
  float:right;}

popuphelp:hover {
  background-color:green;
  cursor:help;
}

popuphelp span {
  display: none;  
  text-decoration: none; 
}

popuphelp:hover span {
  display: block;
  position: absolute; 
  top: 24px; 
  left: 32px; 
  width: 250px;
  z-index: 100;
  color: #000000; 
  border:1px solid #000000; 
  background: #FFA;
  font: 14px 'liberation sans', Verdana, sans-serif; 
  text-align: left;
  padding:1px;
  }
  
popuphelp:hover span b {
	background-color: #DDF;
	text-align:justify;	

}

.erfolg, .erfolg * {
    background:lightgreen;
    font-style: italic;
}
	
@media all and (min-width: 800px) and (min-device-width: 800px) {
    .s_turbo_export49 { float:left; width:49%; font-size:80%; }
    .s_turbo_export33 { float:left; width:33%; font-size:80%; }
    .s_turbo_export66 { float:left; width:66%; font-size:80%; }
}
@media all and (max-width:799px) {
    .s_turbo_export49 {  font-size:80%; }
    .s_turbo_export33 {  font-size:80%; }
    .s_turbo_export66 {  font-size:80%; }
}
