/*!	CSS von christian@bienmueller.de 
	Gibt das Design von tabula.info vor
	Dieses CSS darf gerne zu beliebigem Zweck uebernommen werden
	
	ti.less ist die Quelldatei, welche zur ti.css compiliert wird 
	(siehe dazu http://www.lesscss.org)
	
*/
/**********************************
 *   gesammelte Farbdefinitionen: *
 **********************************/
@farbe_schrift:		#000;	/* wenn keine andere Definition zutrifft */
@farbe_hintergrund: #DDD;	/* Hintergrund der leeren Seite, nicht der Elemente mit Inhalt */
@farbe_vordergrund: #335;	/* Kontrastfarbe zum Hintergrund */
@farbe_extra:		#369;	/* die z.B. für Überschriften verwendete Farbe */
@farbe_boxtitel_bg: #E6E6E6;/* Hintergrund der Überschriften in den Boxen*/
@farbe_box_bg:		#FFD;	/* normale Hintergrundfarbe der Boxen */
@farbe_turbo_bg:	#EEE;	/* Hintergrund des Vertretungsplans s_turbo, mit errechneten dunkleren Abstufungen für spätere Tage */
@farbe_turbodelta: 	#010;	/* dazu wird immer dieses Delta addiert um Farbton zu erhalten */
@farbe_branding: 	#688;	/* Schriftfarbe des im Hintergrund liegenden Branding-Elements*/
@farbe_management_hover_bg: #FFA; /* Hover-Hintergrund für Links in der Managementumgebung */
@farbe_hiprio: 		#F00;	/* Herausstechende Nachrichten bekommen diese Schriftfarbe */
@farbe_hiprio2: 	#D04;	/* Herausstechende Nachrichten bekommen diese Schriftfarbe aufblinkend */
@farbe_ausfall:     #0A0;   /* In s_turbo werden so ausfallende Stunden markiert*/
@farbe_loprio: 		#888;	/* Weiter in der Zukunft liegende Nachrichten .. - Schrift*/
@farbe_week_bg:		#DA8;	/* Hintergrund der week-Meldungen (Meldungen zu Kalenderwochen)*/
@farbe_dayless_bg:	#FF5;	/* Hintergrund der dayless-Meldungen (allgemeine Infos ohne Tagesbezug)*/
@farbe_dauer_bg:	#8F8;	/* Hintergrund der dauer-Meldung (höchste Prio, oben, ohne Tagesbezug)*/
@farbe_base_bg:		#EEF;	/* Hintergrund der base-Elemente (Infos am unteren Bildschirmrand)*/
@farbe_persons_bg:	#DFF;	/* Hintergrund der persons-Elemente (Schülerruf) */
@farbe_infoseite:	#444;
@farbe_motto_fg:    #000;
@farbe_motto_bg:    #DDF;
@farbe_navi_select: #111;
@farbe_navi_hide:   #833;

@import "ti-base.less";
